/* General Styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f9;
  color: #3fd7ef;
}

header {
  background-color: #6a0dad;
  padding: 40px 20px;
  color: white;
  text-align: center;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
}

.profile-photo {
  border-radius: 50%;
  width: 150px; /* Adjust size */
  height: 150px; /* Adjust size */
  object-fit: cover;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  font-size: 3rem;
}

header h2 {
  margin: 10px 0 20px 0;
  font-size: 1.5rem;
  font-weight: normal;
  color: #ff69b4; /* Secondary color */
}

footer {
  background-color: #6a0dad;
  padding: 20px;
  color: white;
  text-align: center;
}

footer a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

footer a:hover {
  color: #00ced1; /* Accent color */
}
